-title "Admin"

:javascript
  var options = {
    animation: false,
    scaleShowGridLines: false,
    pointDot: true,
    bezierCurve: true,
    datasetStrokeWidth: 3,
    responsive: true
  }

  var visitors = {
    labels: #{@range.to_a.enum_for(:each_with_index).collect{|d,i|i.odd? ? d.strftime("%b %-d") : ""}.to_json},
    datasets: [
      {
        label: "Page Views",
        fillColor:   "#EEE",
        strokeColor: "#777",
        pointColor:  "#777",
        data:        #{@range.to_a.collect {|d| @total[:views][d] || 0}.to_json}
      },
      {
        label: "Unique Sessions",
        fillColor:   "#FEE",
        strokeColor: "#700",
        pointColor:  "#700",
        data:        #{@range.to_a.collect {|d| @total[:sessions][d] || 0}.to_json}
      }
    ]
  }

  $(document).ready(function() {
    var ctx = document.getElementById("visitors").getContext("2d");
    window.visitorChart = new Chart(ctx).Line(visitors, options);
  });

%h1 Welcome, #{current_user.username}

%div.two-col
  %div.col-box
    %h2 Action Items
    %p Nothing to do.

  %div.col-box
    %h2 Inbox
    %p No new messages.

  %div.col-box
    %h2 Weekly Visitors

    %div.widgets
      %div.widget-box{style: 'background-color: #FEE; color: #700;'}
        %div.number
          #{@total[:sessions].values.sum}
          %span.supplimental
            \/ #{@total[:sessions].values.sum / @total[:sessions].count}
        %div.caption Unique Sessions

      %div.widget-box{style: 'background-color: #EEE; color: #000;'}
        %div.number
          #{@total[:views].values.sum}
          %span.supplimental
            \/ #{@total[:views].values.sum / @total[:views].count}
        %div.caption Page Views

    %canvas#visitors{height: 150}
