<!DOCTYPE html>
<html>
<head>
  <title><%= page_title %></title>
  <meta http-equiv="X-Clacks-Overhead" content="GNU Sir Terry Pratchett" />
  <meta name='description' content='PriceWal is an artist collaboration between Charles Price and John Rachwal, based in Minneapolis, MN.' />
  <meta name='viewport' content='width=device-width, minimum-scale=1.0, maximum-scale=1.0' />
  <meta name="google-site-verification" content="JDOOg3ZDhtCemlFq6o0fu5Kui32bIN3CNKpiD23NQ_4" />
  <%= stylesheet_link_tag    "admin", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "admin", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>

<body class='holygrail'>

  <header>
    <div class='logo'>Price<span class='wide'>Wal</span></div>
    <div class="nav">
      <%= link_to 'Go To Site', root_path %>
      <%= link_to 'Log Out', logout_path %>
    </div>
  </header>

  <div class='holygrail-body'>
    <%= render 'nav' %>

    <main>
      <%= render 'content' %>
    </main>
  </div>

  <footer>
    <p>Eisert Development</p>
  </footer>

</body>
</html>
